<div class="jumbotron">
  <h2>Writing</h2>
  <p class="lead">
    These are your posts. 
  </p>

</div>

<div class="row marketing">
  <div class="col-lg-6">
    <div class="post new">

    </div>
  </div>
<div>

