<div class="jumbotron">
  <p class="lead">
    Read
  </p>
</div>
<%= for post <- @posts do %>
  <div class="title"><%= ReaderView.title(post) %></div>
  <div class="body"><%= ReaderView.preview(post) %></div>
<% end %>
